<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>
    <div id="animation">
      <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-text">loading</div>
    </div>
    </div>
<!-- Material form login -->
<div id="login" class="row">
    <div class="col-md-4 m-auto my-auto">
        <div class="card">

            <h5 class="card-header success-color white-text text-center py-4">
              <strong>Sign in</strong>
            </h5>
          
            <!--Card content-->
            <div class="card-body">
          
              <!-- Form -->
              <form class="text-center" style="color: #757575;" action="/user/login" method="POST">
          
                <!-- Email -->
                <div class="md-form">
                  <input type="text" name="username" id="materialLoginFormEmail" class="form-control">
                  <label for="materialLoginFormEmail">Username</label>
                </div>
          
                <!-- Password -->
                <div class="md-form">
                  <input type="password" name="password" id="materialLoginFormPassword" class="form-control">
                  <label for="materialLoginFormPassword">Password</label>
                </div>
          
                
          
                <!-- Sign in button -->
                <button class="btn btn-success my-4 waves-effect z-depth-0" type="submit">Sign in</button>
          
        
          
              </form>
              <!-- Form -->
          
            </div>
          
          </div>
    </div>
</div>
  <!-- Material form login -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
<script>
  $(window).on('load',function () {
    $('#animation').fadeOut('slow',function () {
      $('#login').fadeIn('slow');
    })
  })
</script>
</body>
</html>