<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TechMeadow</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css" />

    <!-- App styles -->
    <link rel="stylesheet" href="/assets/css/app.min.css" type="text/css" />
  </head>
  <body class="form-membership">
    <!-- begin::preloader-->
    <div class="preloader">
      <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->

    <div class="form-wrapper">
      <%if(error && error.length>0){%>
      <div class="alert alert-danger" role="alert"><%=error%></div>
      <%}%> <%if(message && message.length>0){%>
      <div class="alert alert-info" role="alert"><%=message%></div>
      <%}%>
      <!-- logo -->
      <div id="logo">
        <img class="logo" src="/assets/media/image/logo.png" alt="image" />
        <img
          class="logo-dark"
          src="/assets/media/image/logo-dark.html"
          alt="image"
        />
      </div>
      <!-- ./ logo -->

      <h3>Verify your email address</h3>

      <!-- Message -->
      <p>A confirmation email has been sent to your email address at. Check it out</p>
      <a href="/user/logout" class="btn btn-outline-light btn-sm"
          >Logout</a
        >
      <!-- ./ Message -->
    </div>

    <!-- Plugin scripts -->
    <script src="/vendors/bundle.js"></script>

    <!-- App scripts -->
    <script src="/assets/js/app.min.js"></script>
  </body>
</html>
